/* forkit.CSS, to use with forkit.js */
.forkit {
	position: absolute;
	right: 0; top: 0px;
    position: fixed;
	width: 200px; height: 150px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
    z-index:1;
}
.forkit-curtain {
	text-align: center;
	background: #3B5998; /*rgba( 0, 0, 0, 0.8 );*/
	padding-top: 10%;
}
.forkit-curtain  .close-button {
	position: absolute;
	width: 32px; height: 32px;
	right: 20px; top: 20px;
	cursor: pointer;
}
.forkit .tag {
	display: block;
	height: 30px; width: 200px;
	color: #fff;
	background: #3B5998; /* #aa0000; */
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
	-webkit-transform-origin: 15px 0px;
	-moz-transform-origin: 15px 0px;
	-ms-transform-origin: 15px 0px;
	-o-transform-origin: 15px 0px;
	transform-origin: 15px 0px;
}
.forkit .tag:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 196px;
	height: 26px;
	margin: 1px;
	border: 1px solid rgba( 255, 255, 255, 0.4 );
}
.forkit .string {
	display: block;
	height: 1px;
	width: 0px;
	position: absolute;
	background: rgba( 255, 255, 255, 0.7 );
	box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-ms-transform-origin: 0px 0px;
	-o-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
}
.forkit-curtain {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
}
/* BETA responsive */
@media (max-width: 680px){
    div.forkit-body, a.forkit {
        display: none;
        visibility: hidden; 
    }
}
/* Fin BETA responsive */