/**
 * css/io.css - a fast reading bookmarklet
 * Copyright (C) 2014, Lilian Besson. (GPLv3 Licensed)
 * //lbesson.bitbucket.io/squirt
 * Inspired from http://squirt.io/
 */

.header {
  text-align: center;
}

.header h2{
  margin-bottom: 1.5em;
}

.big-link {
  text-align: center;
  font-size: 2em;
  border-radius: 2em;
  background-color: #2FA1EE;
  color: white;
  padding: .2em;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  display: block;
  text-rendering: optimizeLegibility;
  margin: 0.5em 0 0.5rem 0;
  /*text-transform: uppercase;*/
}

.medium-link {
  font-size: 1.6em;
  border-radius: 1em;
  text-align: center;
  display: block;
  color: rgba(0,0,0,.6);
  font-weight: normal;
  padding: .14em;
  font-family: Montserrat, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 1em 0 0.3rem 0;
}

.install {
  text-align: center
}

pre.bookmarklet {
  word-wrap: break-word;
  font-size: .8em;
}

.header img {
  margin-bottom: 1.6em;
  height: 120px;
}

.faq {
  margin-bottom: 2em;
}

.faq p:nth-child(1) {
  font-size: 1.2em;
}

/* NEW */
/*body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
  background-repeat: repeat;
}*/

@media (min-width: 32rem) {
  .big-link {
    font-size: 3em;
  }

  .medium-link {
    margin-bottom: 1.5em;
  }

  .header img {
    margin-bottom: 2em;
    height: 180px;
  }
}
