/*
 *
 * From https://tylernickerson.com/
 *
 */
/* DEFAULTS */
html {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	zoom: 150%;
}

body {
	width: 100%;
	height: 100%;
	background: #fff;
	color: white;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	font-size: 16px;
}

main {
	position: relative;
	top: 35%;
	-webkit-transform: translateY(-35%);
	   -moz-transform: translateY(-35%);
	     -o-transform: translateY(-35%);
	    -ms-transform: translateY(-35%);
	        transform: translateY(-35%);
}

/* PARTICLES */
.background {
	background-size: cover;
	height: 99%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

/* HEADER */
main header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: gray;
}

main header > h1 {
	color: #464646;
	font-weight: 800;
	font-size: 5em;
	letter-spacing: 4px;
	margin: 0px;
	opacity: 0;
}

main header > h1 > a {
	text-decoration: none;
	/* color: #33a7ff; */
}

main header > h1 > a > span {
	color: #33a7ff;
}

/* NAVBAR */
main .menu {
	list-style: none;
	margin: 0;
	opacity: 0;
	padding: 0 0 6px;
}

main .menu li {
	border-left: 1px solid #999;
	display: inline-block;
	letter-spacing: 6px;
	line-height: 1em;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 10px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

main .menu li a,
main .menu li a:active,
main .menu li:visited {
	color: #777;
	cursor: pointer;
	font-weight: normal;
	font-size: 1em;
	text-decoration: none;
	-webkit-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
}

main .menu li:hover > a {
	color: #33a7ff;
}

main .menu li:first-child {
	border: 0;
}

main .menu li:hover:after {
	width: 90%;
}

main .menu li:after {
	background: #33a7ff;
	bottom: -8px;
	content: "";
	display: block;
	height: 2px;
	margin: auto;
	position: relative;
	left: -1px;
	width: 0;
	-webkit-transition: width 0.5s ease-in-out;
	        transition: width 0.5s ease-in-out;
}

/* ICON LIST */
main .icon-list {
	list-style: none;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	text-align: center;
	padding: 0px;
	width: 350px;
}

main .icon-list > li {
	-webkit-border-radius: 100px;
	        border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 28px;
	margin-bottom: 0.5em;
	margin-right: 0.2em;
	overflow: hidden;
	opacity: 0;
	padding: 4px;
	position: relative;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	        transition: all .25s;
	width: 28px;
}

main .icon-list > li a {
	color: inherit;
	line-height: 28px;
}

main .icon-list > li:hover > a {
	color: white;
}

main .icon-list > li.home {
	border-color: #28800C;
	color: #28800C;
}
main .icon-list > li.home:hover {
	background: #28800C;
}

main .icon-list > li.email {
	border-color: #777;
	color: #777;
}
main .icon-list > li.email:hover {
	background: #777;
}

main .icon-list > li.phone {
	border-color: #8F00BF;
	color: #8F00BF;
}
main .icon-list > li.phone:hover {
	background: #8F00BF;
}

main .icon-list > li.bitbucket {
	border-color: #204F7E;
	color: #204F7E;
}
main .icon-list > li.bitbucket:hover {
	background: #204F7E;
}

main .icon-list > li.github {
	border-color: #222222;
	color: #222222;
}
main .icon-list > li.github:hover {
	background: #222222;
}

main .icon-list > li.cv {
	border-color: #FF8400;
	color: #FF8400;
}
main .icon-list > li.cv:hover {
	background: #FF8400;
}

main .icon-list > li.facebook {
	border-color: #3b5998;
	color: #3b5998;
}
main .icon-list > li.facebook:hover {
	background: #3b5998;
}

/* NOT USED */
main .icon-list > li.twitter {
	border-color: #1da1f2;
	color: #1da1f2;
}
main .icon-list > li.twitter:hover {
	background: #1da1f2;
}

main .icon-list > li.linkedin {
	border-color: #0976b4;
	color: #0976b4;
}
main .icon-list > li.linkedin:hover {
	background: #0976b4;
}

.icon-list > li.medium {
	border-color: #02b875;
	color: #02b875;
}
main .icon-list > li.medium:hover {
	background: #02b875;
}

main .icon-list li > a {
	color: inherit;
}

main .icon-list li > a:active,
main .icon-list li > a:visited {
	/* color: white; */
}

main .icon-list li:hover {
	opacity: 1;
}

/* FOOTER */
main footer {
	color: #999;
	font-size: 0.50em;
	opacity: 0;
	/* From https://stackoverflow.com/questions/526035/html-css-positioning-float-bottom#526041 */
	/* margin-top: 100px; */
	/* margin-bottom: 5px; */
	position: absolute;
	/* position: relative; */
	/* top: 150px; */
	/* bottom: -150px; */
	bottom: -70%;
	/* bottom: 0px; */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 30%;
	right: 30%;
}

main footer .heart {
	color: #f95959;
}
