/* CSS for http://perso.crans.org/besson/isup.me/
 * Copyrights Lilian Besson - with the GPLv3 License
 */
body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 150%;
  margin: 10% 5% 0 5%;
  text-align: center;
}

a, a:visited, a:active {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

input[type=text]{
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 4px 6px 4px 6px;
}
.domain{
  font-weight: bold;
}

#container {
  clear: both;
  font-size: 1.8em;
  margin: auto;
}
#domain_input {
  width: 250px;
}
#loading, #back {
  margin-bottom: 25%;
}
/* Fix for forkit */
.forkit {
	top: 0;
}
#imgforkit {
	position: absolute; top: 0; right: 0; border: 0;
}

/* BETA responsive */
@media (max-width: 680px){
	#loading, #back {
		margin-bottom: 15%;
	}
	.forkit {
		display: none;
	}
	#divforkit, #imgforkit {
		position: relative;
	}
}
/* Fin BETA responsive */
