/**
 * squirt.css - a fast reading bookmarklet
 * Copyright (C) 2014, Lilian Besson. (GPLv3 Licensed)
 * //lbesson.bitbucket.io/squirt
 * Inspired from http://squirt.io/
 */

.sq * {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  color: inherit;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.sq-blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}

.sq-obscure {
  background-color: rgba(255, 255, 255, .8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999;
}

.sq .modal {
  position: fixed;
  left: 0;
  top: 20%;
  width: 100%;
  height: 399px;

  font-size: 48px;
  background-color: #F6F6F6;
  color: #333;
  font-family: Georgia, serif;

  box-shadow: 0 2px 10px rgba(0,0,0,.4);
  z-index: 99999999999999999999999;

  cursor: none;
}

.sq .modal .error {
  margin: 2em;
  font-size: .8em;
}

.sq .final-word {
  display: none;
  margin: 15%;
  text-align: center;
  width: 50%;
  font-size: .8em !important;
}

.sq .reader {
  position: absolute;
  height: 100%;
  left: 34%;
  width: 46%;
  border-left: 1px solid rgba(0,0,0, .4);
}

.sq .word-container {
  position: absolute;
  top: 30%;
}

.sq .focus-indicator-gap {
  position: absolute;
  height: 111px;
  background-color: #f6f6f6;
  width: 2px;
  left: -2px;
}

.sq .controls {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 40%;
  text-align: center;
  color: rgba(0,0,0, .4);
  font-weight: bold;
  position: absolute;
  left: 80%;
  height: 100%;
  width: 20%;
  top: 0;
  z-index: 1;
}

.sq .controls a, .sq .wpm-selector a{
  pointer-events: none;
}

.sq .control {
  cursor: pointer;
  margin: 0;
  background-color: rgba(255, 255, 255, .68);
  height: 74px;
  padding-top: 57px;
  margin-bottom: 3px;
}

.sq .control:hover {
  background-color: rgba(255, 255, 255, .9);
}

.sq .control:active {
  background-color: rgba(230, 230, 255, 1);
}

.sq .controls a, select{
  text-decoration: none;
  color: inherit;
  display:block;
  cursor: pointer;
}

.sq .wpm-selector {
  height: 100%;
  position: absolute;
  top:0;
  left: -400%;
  width: 401%;
}

.sq .wpm-option {
  margin: 0 3px 3px 0;
  width: 32.75%; 
  height: 80px;
  padding-top: 51px;
  float: left;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.sq .wpm-plus-50 {
  color: rgba(0, 155, 216, 0.39);
}

.sq .wpm-option:hover, .sq .wpm-option:active {
  background-color: #EFEFEF;
}

.sq .wpm-option a {
  pointer-events: none;
  font-size: 1.4em;
}

.sq .control.wpm div{
  font-size: .8em;
}

.sq .orp{ /* Couleur du mot souligné */
  /*color: rgb(238, 69, 69);*/
  color: #5DFF00;
}

.sq .word{
  top: 34%;
  position: absolute;
  font-size: 1.2em;
  padding: 15px;
}

.sq .word-prerenderer {
  visibility: hidden;
  
}

.sq .keyboard-shortcuts {
  color: #999;
  font-size: .3em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: .7em;
  padding-bottom: .7em;
}


/* Mobile */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation: landscape){
 .sq .modal {
   width: 100%;
   height: 204px;
   top: 20%;
 } 

 .sq .focus-indicator-gap {
   height: 66px;
 }

 .sq .control {
   height: 32.3%;
   padding-top: 0;
   margin-bottom: 2.1%;
   font-size: .9em;
 }

 .sq .control a {
   padding-top: 20%;
 }

 .sq .wpm-option {
   height: 32.3%;
   margin: 0 0.5% 0.5% 0;
   padding-top: 0;
 }

 .sq .wpm-option a {
   padding-top: 13%;
 }

 .sq .word {
   font-size: .6em;
 }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation: portrait){
 .sq .modal {
   height: 404px;
   top: 20%;
 } 

 .sq .reader {
   height: 44%;
   left: 45%;
 }

 .sq .focus-indicator-gap {
   height: 74px;
 }

 .sq .wpm-selector {
   left: 0;
   top:-44%;
   width: 100%;
   background-color: #f6f6f6;
 }

 .sq .controls {
   top: 44%;
   width: 100%;
   left: 0;
 }

 .sq .control {
   height: 46px;
   padding-top:27px;
   font-size: .9em;
 }

 .sq .wpm-option:nth-child(3n){
   margin-right:0;        
 }

 .sq .wpm-option {
   height: 82px;
   padding-top: 50px;
   width: 32.67%;
 }

 .sq .word {
   font-size: .6em;
 }
}

